<!DOCTYPE html>
<html>
    <head>
        <title>Camcall - Video Chat</title>
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/atlas.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
    <link href="css/animate.min.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">
    </head>
    <body>
<div class="span12 row-fluid">

    <h1 id="title" align="center">Start a room</h1>
    <p><button id="screenShareButton" class="btn btn-info submit-btn top-btn" ></button></p>
    
    <div class="row-fluid">
      <div class="span4">
        
        <p id="subTitle"></p>
        <form id="createRoom" class="form-search spacer" role="form">
          <div class="form-group">
          <label for="email" class="white-label">Email:  
          </label><input class="span4 styled-input" id="email"/>
        </div>
         <div class="form-group">
          <label for="password" class="white-label"> Password:  </label>
          <input class="span4 styled-input" type="password" id="password"/>
         </div>
          <div class="form-group">
          <label for="sessionInput" class="white-label"> Room name:  </label>
          <input class="span4 styled-input" id="sessionInput"/>
        </div>
          <button type="submit" class="green-btn slim-btn" class="span2">Create it!</button>
          <button id="test" onclick="sendping()" class="btn btn-info pull-right submit-btn" style="margin: 20% 48%;">Send Ping!</button>
          <div id="pings"></div>
        </form>
      </div>
      <div class="span8">
          <div class="row-fluid">
          <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
          <div id="remotes"></div>
        </div>
      </div>
    </div>

</div>
    <div id="copyright" class="animated fadeInUp delay5">
      <div class="container">
        <div class="row">
          <p>&copy; Copyright CamCall - 2014 - All Rights Reserved.</p>
          
          <div class="social">
            <p>
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-google-plus"></i></a>
            </p>
          </div><!-- social -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- copyright -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="scripts/socket.io.js"></script>
        <script src="scripts/simplewebrtc.bundle.js"></script>
        <script src="scripts/room.js"></script>
    </body>
</html>
