
<!DOCTYPE html>
<html>
  <head>
    <title>AtlasCloud - Landing Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/atlas.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
	<link href="css/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
	<link href="css/animate.min.css" rel="stylesheet" media="screen">
    
  </head>
  <body>
    
    <div id="logo">
	    <div class="container">
	    	<div class="row" style="margin-top:-30px;">
	    		<div class="span12">
	    			<img src="img/logo.png" alt="logo" class="logo-pos animated bounceIn delay1">    			
	    			<div id="catch-text" class="animated flipInX delay2">
	    				<h1 class="lead-head"><strong>Try it now</strong>. A creative way to store your <span>files</span>, and <span>documents</span>.</h1>
	    				<p>A vast and new way to store, create, and produce your own files. Explore options today!</p>
	    			</div><!--catch text -->
	    		</div><!--span 12 -->
	    	</div><!--row -->
	    </div><!-- container -->
    </div><!--logo -->
    
    <div id="prices" class="animated fadeIn delay3">
    	<div class="container">
    		<div class="row">
    			<div class="span3">
    				<div class="price-bg">
    					<i class="icon-folder-open"></i>
    					<h2><span class="red">2GB</span> Storage - <span class="green">0$</span></h2>
    					<p>This package is great for those just starting out.</p>
    					<a href="#" class="green-btn">Sign Up Now </a>
    				</div><!--price bg -->
    			</div><!-- span3 -->
    	    	<div class="span3">
    				<div class="price-bg">
    					<i class="icon-folder-open"></i>
    					<h2><span class="red">5GB</span> Storage - <span class="green">10$</span></h2>
    					<p>This package is great for personal use.</p>
    					<a href="#" class="green-btn">Sign Up Now </a>
    				</div><!--price bg -->
    			</div><!-- span3 -->
    			<div class="span3">
    				<div class="price-bg">
    					<i class="icon-folder-open"></i>
    					<h2><span class="red">10GB</span> Storage - <span class="green">20$</span></h2>
    					<p>This package is great for multi-personal use.</p>
    					<a href="#" class="green-btn">Sign Up Now </a>
    				</div><!--price bg -->
    			</div><!-- span3 -->
    			<div class="span3">
    				<div class="price-bg">
    					<i class="icon-folder-open"></i>
    					<h2><span class="red">25GB</span> Storage - <span class="green">35$</span></h2>
    					<p>This package is great for large companies.</p>
    					<a href="#" class="green-btn">Sign Up Now </a>
    				</div><!--price bg -->
    			</div><!-- span3 -->	
    		</div><!-- row -->
    	</div><!-- container -->
    </div><!-- prices -->
    
    <div id="newsletter" class="animated fadeInDown delay4">
    	<div class="container">
    		<div class="row">
    			<div class="span12">
    				<div class="blue-bg">
	    				<h3>Newsletter</h3>
	    				<div class="row">
	    					<div class="span8 offset2">
			    				<p>By signing up for our newsletter you will be notified of changes to our site. You may also receive promotional one 
			    				time offers that are well worth your time!</p>
	    					</div><!-- span8 -->
	    				</div><!-- row -->
	    				<span class="bar"></span>
						
						<form class="form-search">
							<input type="text" class="span6" id="news-input" placeholder="Enter your email...">
							<button type="submit" class="submit-btn">Ok</button>
						</form><!-- form-search -->
						
    				</div><!-- blue bg -->
    			</div><!-- span12 -->
    		</div><!-- row -->
    	</div><!-- container -->
    </div><!-- newsletter -->
    
    
    <div id="copyright" class="animated fadeInUp delay5">
    	<div class="container">
    		<div class="row">
    			<p>&copy; Copyright AtlasCloud - 2013 - All Rights Reserved.</p>
    			
    			<div class="social">
	    			<p>
	    				<a href="#"><i class="icon-twitter"></i></a>
	    				<a href="#"><i class="icon-facebook"></i></a>
	    				<a href="#"><i class="icon-google-plus"></i></a>
	    			</p>
    			</div><!-- social -->
    		</div><!-- row -->
    	</div><!-- container -->
    </div><!-- copyright -->
    
    
    
    
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
  </body>
</html>